.whatsapp-order-button {
  width: 100%;
  padding: 18px;
  margin-top: 25px;
  border: none;
  background: #25d366;
  color: white;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.3s ease;
}

.whatsapp-order-button:hover {
  background: #128c7e;
  transform: translateY(-2px);
}